<footer class="flex items-center flex-none w-full px-4 py-2 bg-gray-700 flex-nowrap">
    <div class="w-1/2">
      <div class="flex float-left text-sm text-white">
        © 2021&nbsp;<a class="hover:text-indigo-300" href="https://{{ domain() }}">
          {{ domain() }}</a>. All rights removed.
      </div>
    </div>
    <div class="w-1/2">
      <div class="flex float-right gap-4 text-lg text-white">
        <a class="hover:text-indigo-300" href="/github"><i class="mdi mdi-github"></i></a>
        <a class="hover:text-indigo-300" href="/discord"><i class="mdi mdi-discord"></i></a>
        <a class="hover:text-indigo-300" href="/youtube"><i class="mdi mdi-youtube"></i></a>
        <a class="hover:text-indigo-300" href="/twitter"><i class="mdi mdi-twitter"></i></a>
        <a class="hover:text-indigo-300" href="/instagram"><i class="mdi mdi-instagram"></i></a>
      </div>
    </div>
  </footer>