{% extends "base.html" %}
{% block title %} 404 {% endblock %}

{% block content %}
<div class="flex justify-center h-full">
	<div class="text-center text-light self-center">
		<div>
			<p class="text-9xl sm:text-huge leading-none font-semibold font-poppins">404</p>
			<p class="font-poppins">Oops something went wrong</p>
		</div>
		<div class="mt-4">
			<a class="rounded text-light bg-dark-700 py-1.5 px-3 hover:bg-dark-600 font-semibold text-sm" href="/">Back to Home <i class="mdi mdi-home"></i></a>
		</div>
	</div>
</div>
{% endblock %}