<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ appName() }} | {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="bruh moment">
  <meta property="og:description" content="bruh moment">
  <meta property="og:site_name" content="{{ appName() }}">
  <meta name="theme-color" content="#E91E63">
  
  {% include 'partials/stuff.html' %}
</head>

<body class="flex flex-col h-screen overflow-y-none">
  {% include 'partials/navbar.html' %}
  <div class="flex flex-col flex-1 w-full overflow-y-auto bg-gray-800">
    <div class="flex-grow">
      {% block content %}
      {% endblock %}
    </div>
    {% include 'partials/footer.html' %}
  </div>
</body>

</html>