{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="relative bg-dark-700 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
      <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="sm:text-center lg:text-left">
          <h1 class="text-3xl tracking-tight font-medium text-gray-900 sm:text-4xl md:text-5xl">
            <span class="block text-white xl:inline">{{ appName() }}</span>
          </h1>
          <p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            We are an osu! private server built from the ground up with many
          unique features not seen elsewhere - for more information, check
          out <a href="http://github.com/cmyui/gulag">gulag</a>
          and <a href="https://github.com/Yo-ru/gulag-web">{{ appName() }}</a>
          on GitHub - we're fully open source!
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="#" class="w-full flex items-center justify-center px-8 
              py-3 border border-transparent text-base font-medium rounded-md 
              text-white bg-dark-500 hover:bg-dark-800 md:py-2 md:text-lg md:px-6">
                Login
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="#" class="w-full flex items-center justify-center 
              px-8 py-3 border border-transparent text-base font-medium 
              rounded-md text-gray-100 bg-dark-500 hover:bg-dark-800 md:py-2 md:text-lg md:px-6">
                Register
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" 
    src="https://i.pinimg.com/originals/e7/07/7e/e7077eaadf64c9614768e7683e713283.png">
  </div>
</div>
<!--
{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Warning
          {% elif status=='success' %}
          Notice
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Uh oh! Be careful!
          {% elif status=='success' %}
          Hey! Listen!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}
-->
<!--<div class="p-8 flex flex-none flex-nowrap bg-dark-500 text-white h-72">
  <div class="w-1/2">
    <p>
      We are an osu! private server built from the ground up with many
      unique features not seen elsewhere - for more information, check
      out <a href="http://github.com/cmyui/gulag">gulag</a>
      and <a href="https://github.com/Yo-ru/gulag-web">gulag-web</a>
      on GitHub - we're fully open source!
    </p>
  </div>
  <div class="w-1/2">
    <img src="/static/images/pippi.png">
  </div>
</div>

<div class="hero splash is-padless" id="home-hero">
  <div class="container is-flex is-lcentered">
    <div class="columns is-vcentered is-marginless">
      <div class="column is-size-2-desktop is-size-1-fullhd">
        <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">{{ appName() }}</h1>
        <h2 class="subtitle">
          We are an osu! private server built from the ground up with many
          unique features not seen elsewhere - for more information, check
          out <a href="http://github.com/cmyui/gulag">gulag</a>
          and <a href="https://github.com/Yo-ru/gulag-web">gulag-web</a>
          on GitHub - we're fully open source!
        </h2>
        {% if not session.authenticated %}
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
        {% endif %}
      </div>
      <div class="column is-flex is-lcentered is-padless" id="mascot">
        <div class="gulag-avatar"></div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Some of our coolest features</h2>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-address-card"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">PP for Relax and Autopilot</h4>
            <p class="subtitle is-6">Our server has unique pp formula for relax and autopilot.
              Good at waving your cursor or just smashing your keyboard? Join {{ appName() }} and get a fair reward for
              your skills!
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-ambulance"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Free osu!direct</h4>
            <p class="subtitle is-6">You won't have to pay for osu!supporter to have a convenient gameplay experience in
              the
              client - osu!direct is available for everyone! Keep in mind supporting us still grants a huge set of cool
              perks but
              absense of it doesn't affect your game sessions!</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-archive"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Flexible library</h4>
            <p class="subtitle is-6">We're written on top of cmyui's multipurpose library allowing for a fully
              asynchronous environment, both improving performance and the user's experience in the long term!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if not session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">What are you waiting for?</h1>
      <h2 class="subtitle">Join {{ appName() }}! It's risk-free! You won't get your account banned on official servers
        if
        you play here with us! Don't worry you can switch between the official servers and us at any time!</h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="/register">Sign up for free</a><a
          class="control button is-light" href="/login">Login</a></div>
    </div>
  </div>
</section>
{% endif %}-->
{% endblock %}