{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="flex justify-center h-full w-full">
  <div class="rounded-xl self-center text-light bg-dark-700 p-12">
	  <form action="/login" method="post" class="form-content">
      <input class="rounded-md border-2 border-dark-700 bg-dark-700 hover:border-dark-800 hover:bg-dark-800 focus:border-accent-500 focus:bg-dark-800 placeholder-dark-50 px-2 py-1 text-light focus:outline-none" id="user" name="username" placeholder="Username" type="text" autocomplete="username" required/>
      <input class="rounded-md border-2 border-dark-700 bg-dark-700 hover:border-dark-800 hover:bg-dark-800 focus:border-accent-500 focus:bg-dark-800 placeholder-dark-50 px-2 py-1 text-light focus:outline-none" id="pass" name="password" placeholder="Password" type="password" autocomplete="current-password" required/>
      <button class="rounded bg-accent-500 text-white py-1.5 px-3 hover:bg-accent-800 font-bold text-sm appearance-none focus:outline-none" type="submit">
        Login
      </button>
    </form>
  </div>
</div>
<!--
<div class="main-block is-marginless is-paddingless is-auth">
  <div class="columns is-reset is-weeb">
    <div class="column title-block">
      <h1 class="title" id="regtitle">Login</h1>
    </div>
    <div class="column icon-block">
      <i class="fas fa-user is-headericon"></i>
    </div>
  </div>
  <div class="columns is-reset is-lcentered is-block">
    <div class="box">
     <div class="content">
    <form action="/login" method="post" class="form-content">
      <div class="field">
        <label for="" class="label">Username</label>
        <div class="control has-icons-left">
          <input type="username" name="username" placeholder="Username" class="input" required>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label for="" class="label">Password</label>
        <div class="control has-icons-left">
          <input type="password" name="password" placeholder="Password" class="input" required>
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </div>
      </div>
      <div class="mt-5"></div>
      <div class="dialog">
        Don't have an account?
        <a href="/register">
          Register
        </a>
      </div>
      <div class="field is-vcentered">
        <div class="buttons">
          <button type="submit" class="button is-primary">
            Login
          </button>
          <a href="/forgot" class="button is-info"> --> <!-- will probably have paths "/forgot/username" and "/forgot/password" --><!--
            Forgot login?
          </a>
        </div>
      </div>
    </form></div>
    </div>
  </div>
</div>

{% if flash %}
<div class="paper-snackbar is-{{ status }}" style="opacity: 1;">
  {{ flash }}
</div>
{% endif %}-->

{% endblock %}